.nav-links-wrapper {
  display: contents;
}
 
.nav-links-links {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.nav-linksroot-class-name {
  display: none;
}
 
@media(max-width: 767px) {
  .nav-links-links {
    display: none;
  }
}

.hero71-wrapper {
  display: contents;
}
 
.hero71-max-width {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
 
.hero71-content {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  max-width: 1000px;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.hero71-text1 {
  text-align: center;
}
 
.hero71-text2 {
  text-align: center;
}
 
.hero71-actions {
  gap: var(--dl-layout-space-unit);
  display: none;
  align-items: flex-start;
}
 
.hero71-container1 {
  display: flex;
  align-items: flex-start;
}
 
.hero71-text3 {
  text-align: center;
}
 
.hero71-container2 {
  display: flex;
  align-items: flex-start;
}
 
.hero71-button2 {
  display: none;
}
 
.hero71-text4 {
  text-align: center;
}
 
.home-fragment10 {
  display: contents;
}
 
.home-text105 {
  display: inline-block;
}
 
.home-fragment12 {
  display: contents;
}
 
.home-text107 {
  display: inline-block;
}
 
.home-fragment11 {
  display: contents;
}
 
.home-text106 {
  display: inline-block;
}
 
.home-fragment13 {
  display: contents;
}
 
.home-text108 {
  display: inline-block;
}
 
.hero71root-class-name {
  background-color: #FAD611;
}
 
@media(max-width: 479px) {
  .hero71-actions {
    width: 100%;
    flex-direction: column;
  }
  .hero71-container1 {
    width: 100%;
  }
  .hero71-button1 {
    width: 100%;
  }
  .hero71-container2 {
    width: 100%;
  }
  .hero71-button2 {
    width: 100%;
  }
}

.features7-wrapper {
  display: contents;
}
 
.features7-layout226 {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
}
 
.features7-max-width {
  align-self: flex-start;
}
 
.features7-over-title1 {
  display: none;
  font-weight: 600;
}
 
.features7-title1 {
  text-align: center;
}
 
.features7-description1 {
  text-align: center;
}
 
.features7-over-title2 {
  display: none;
  font-weight: 600;
}
 
.features7-title2 {
  text-align: center;
}
 
.features7-description2 {
  text-align: center;
}
 
.features7-over-title3 {
  display: none;
  font-weight: 600;
}
 
.features7-title3 {
  text-align: center;
}
 
.features7-description3 {
  text-align: center;
}
 
.home-fragment14 {
  display: contents;
}
 
.home-text109 {
  display: inline-block;
}
 
.home-fragment17 {
  display: contents;
}
 
.home-text112 {
  display: inline-block;
}
 
.home-fragment16 {
  display: contents;
}
 
.home-text111 {
  display: inline-block;
}
 
.home-fragment15 {
  display: contents;
}
 
.home-text110 {
  display: inline-block;
}
 
.home-fragment19 {
  display: contents;
}
 
.home-text114 {
  display: inline-block;
}
 
.home-fragment18 {
  display: contents;
}
 
.home-text113 {
  display: inline-block;
}
 
.home-fragment22 {
  display: contents;
}
 
.home-text118 {
  display: inline-block;
}
 
.home-link14 {
  text-decoration: underline;
}
 
.home-fragment20 {
  display: contents;
}
 
.home-text115 {
  display: inline-block;
}
 
.home-fragment21 {
  display: contents;
}
 
.home-text116 {
  display: inline-block;
}
 
.home-link13 {
  text-decoration: underline;
}
 
@media(max-width: 991px) {
  .features7-content1 {
    align-items: center;
  }
  .features7-content2 {
    align-items: center;
  }
  .features7-content3 {
    align-items: center;
  }
}

.logos2-wrapper {
  display: contents;
}
 
.logos2-container1 {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.logos2-max-width {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.logos2-text1 {
  width: 45%;
  text-align: center;
}
 
.logos2-logo1 {
  object-fit: contain;
}
 
.logos2-logo2 {
  object-fit: contain;
}
 
.logos2-logo3 {
  object-fit: contain;
}
 
.logos2-logo4 {
  object-fit: contain;
}
 
.logos2-logo5 {
  object-fit: contain;
}
 
.home-fragment23 {
  display: contents;
}
 
.home-text120 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .logos2-text1 {
    width: 100%;
    text-align: center;
  }
}
 
@media(max-width: 767px) {
  .logos2-container1 {
    gap: var(--dl-layout-space-twounits);
  }
  .logos2-max-width {
    gap: var(--dl-layout-space-twounits);
  }
}

.features24-wrapper {
  display: contents;
}
 
.features24-container2 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-layout-space-fiveunits);
  position: relative;
  grid-template-columns: 1fr 1fr;
}
 
.features24-image-container {
  height: 100%;
  display: flex;
  position: relative;
}
 
.features24-image1 {
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.features24-image2 {
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.features24-image3 {
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.features24-tabs-menu {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.features24-tab-horizontal1 {
  gap: var(--dl-layout-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.features24-divider-container1 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.features24-container3 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.features24-content1 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.features24-tab-horizontal2 {
  gap: var(--dl-layout-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.features24-divider-container2 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.features24-container4 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.features24-content2 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.features24-tab-horizontal3 {
  gap: var(--dl-layout-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.features24-divider-container3 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.features24-container5 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.features24-content3 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.features24-feature2-title2 {
  font-family: "Noto Sans";
}
 
.features24-tab-horizontal4 {
  gap: var(--dl-layout-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.features24-divider-container4 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.features24-container6 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.features24-content4 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.features24-feature3-title {
  font-family: "Noto Sans";
}
 
.home-fragment24 {
  display: contents;
}
 
.home-text122 {
  display: inline-block;
  font-family: "Noto Sans";
}
 
.home-fragment29 {
  display: contents;
}
 
.home-text130 {
  display: inline-block;
}
 
.home-link16 {
  text-decoration: underline;
}
 
.home-fragment25 {
  display: contents;
}
 
.home-text123 {
  display: inline-block;
  font-family: "Noto Sans";
}
 
.home-fragment30 {
  display: contents;
}
 
.home-text134 {
  display: inline-block;
}
 
.home-link17 {
  text-decoration: underline;
}
 
.home-fragment27 {
  display: contents;
}
 
.home-text125 {
  display: inline-block;
}
 
.home-fragment26 {
  display: contents;
}
 
.home-text124 {
  display: inline-block;
}
 
.home-fragment28 {
  display: contents;
}
 
.home-text126 {
  display: inline-block;
  font-family: "Noto Sans";
}
 
.home-link15 {
  text-decoration: underline;
}
 
.features24root-class-name {
  display: none;
}
 
@media(max-width: 991px) {
  .features24-container2 {
    grid-gap: var(--dl-layout-space-twounits);
    grid-template-columns: 1fr;
  }
}

.features241-wrapper {
  display: contents;
}
 
.features241-container2 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-layout-space-fiveunits);
  position: relative;
  grid-template-columns: 1fr 1fr;
}
 
.features241-image-container {
  height: 100%;
  display: flex;
  position: relative;
}
 
.features241-image1 {
  animation-name: fadeIn;
  animation-delay: 0s;
  backdrop-filter: blur(5px);
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.features241-image2 {
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.features241-image3 {
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.features241-tabs-menu {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.features241-tab-horizontal1 {
  gap: var(--dl-layout-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.features241-divider-container1 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.features241-container3 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.features241-content1 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.features241-tab-horizontal2 {
  gap: var(--dl-layout-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.features241-divider-container2 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.features241-container4 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.features241-content2 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.features241-tab-horizontal3 {
  gap: var(--dl-layout-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.features241-divider-container3 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.features241-container5 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.features241-content3 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.home-fragment31 {
  display: contents;
}
 
.home-text139 {
  display: inline-block;
}
 
.home-link18 {
  text-decoration: underline;
}
 
.home-fragment32 {
  display: contents;
}
 
.home-text143 {
  display: inline-block;
}
 
.home-fragment33 {
  display: contents;
}
 
.home-text144 {
  display: inline-block;
}
 
.home-link19 {
  text-decoration: underline;
}
 
.home-fragment34 {
  display: contents;
}
 
.home-text148 {
  display: inline-block;
}
 
.home-fragment35 {
  display: contents;
}
 
.home-text149 {
  display: inline-block;
}
 
.home-link20 {
  text-decoration: underline;
}
 
.home-fragment36 {
  display: contents;
}
 
.home-text153 {
  display: inline-block;
}
 

 
@media(max-width: 991px) {
  .features241-container2 {
    grid-gap: var(--dl-layout-space-twounits);
    grid-template-columns: 1fr;
  }
}

.testimonial71-wrapper {
  display: contents;
}
 
.testimonial71-max-width {
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.testimonial71-slider {
  width: 100%;
  height: auto;
  display: inline-block;
}
 
.testimonial71-slider-slide1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.testimonial71-container2 {
  gap: var(--dl-layout-space-twounits);
  flex: 0 0 auto;
  display: flex;
  padding: var(--dl-layout-space-fiveunits);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.testimonial71-thumbnail1 {
  flex-grow: 1;
  max-width: 640px;
}
 
.testimonial71-content1 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 800px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.testimonial71-stars1 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.testimonial71-avatar1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
 
.testimonial71-avatar-content1 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.testimonial71-text11 {
  font-style: normal;
  font-weight: 600;
}
 
.testimonial71-logo1 {
  height: 2rem;
}
 
.testimonial71-slider-slide2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.testimonial71-container3 {
  gap: var(--dl-layout-space-twounits);
  flex: 0 0 auto;
  display: flex;
  padding: var(--dl-layout-space-fiveunits);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.testimonial71-thumbnail2 {
  width: auto;
  height: auto;
  flex-grow: 1;
  max-width: 640px;
  border-radius: var(--dl-layout-radius-radius4);
}
 
.testimonial71-content2 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 800px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.testimonial71-stars2 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.testimonial71-avatar2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
}
 
.testimonial71-avatar-content2 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.testimonial71-text14 {
  font-style: normal;
  font-weight: 600;
}
 
.testimonial71-logo2 {
  height: 2rem;
}
 
.testimonial71-slider-slide3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.testimonial71-container4 {
  gap: var(--dl-layout-space-twounits);
  flex: 0 0 auto;
  display: flex;
  padding: var(--dl-layout-space-fiveunits);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.testimonial71-thumbnail3 {
  width: auto;
  height: auto;
  flex-grow: 1;
  max-width: 640px;
  border-radius: var(--dl-layout-radius-radius4);
}
 
.testimonial71-content3 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 800px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.testimonial71-stars3 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.testimonial71-avatar3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
}
 
.testimonial71-avatar-content3 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.testimonial71-text17 {
  font-style: normal;
  font-weight: 600;
}
 
.testimonial71-logo3 {
  height: 2rem;
}
 
.testimonial71-slider-pagination {
  display: block;
}
 
.home-fragment37 {
  display: contents;
}
 
.home-text154 {
  display: inline-block;
}
 
.home-fragment44 {
  display: contents;
}
 
.home-text161 {
  display: inline-block;
}
 
.home-fragment39 {
  display: contents;
}
 
.home-text156 {
  display: inline-block;
}
 
.home-fragment43 {
  display: contents;
}
 
.home-text160 {
  display: inline-block;
}
 
.home-fragment45 {
  display: contents;
}
 
.home-text162 {
  display: inline-block;
}
 
.home-fragment40 {
  display: contents;
}
 
.home-text157 {
  display: inline-block;
}
 
.home-fragment42 {
  display: contents;
}
 
.home-text159 {
  display: inline-block;
}
 
.home-fragment38 {
  display: contents;
}
 
.home-text155 {
  display: inline-block;
}
 
.home-fragment41 {
  display: contents;
}
 
.home-text158 {
  display: inline-block;
}
 
.testimonial71root-class-name {
  display: none;
}
 
@media(max-width: 991px) {
  .testimonial71-container2 {
    flex-direction: column;
  }
  .testimonial71-thumbnail1 {
    width: 100%;
  }
  .testimonial71-content1 {
    align-items: center;
    justify-content: center;
  }
  .testimonial71-avatar1 {
    gap: 0;
    width: 100%;
    justify-content: space-between;
  }
  .testimonial71-container3 {
    flex-direction: column;
  }
  .testimonial71-thumbnail2 {
    width: 100%;
  }
  .testimonial71-content2 {
    align-items: center;
    justify-content: center;
  }
  .testimonial71-avatar2 {
    gap: 0;
    width: 100%;
    justify-content: space-between;
  }
  .testimonial71-container4 {
    flex-direction: column;
  }
  .testimonial71-thumbnail3 {
    width: 100%;
  }
  .testimonial71-content3 {
    align-items: center;
    justify-content: center;
  }
  .testimonial71-avatar3 {
    gap: 0;
    width: 100%;
    justify-content: space-between;
  }
}
 
@media(max-width: 767px) {
  .testimonial71-slider-slide1 {
    padding: var(--dl-layout-space-threeunits);
  }
  .testimonial71-slider-slide2 {
    padding: var(--dl-layout-space-threeunits);
  }
  .testimonial71-slider-slide3 {
    padding: var(--dl-layout-space-threeunits);
  }
}
 
@media(max-width: 479px) {
  .testimonial71-slider-slide1 {
    padding: var(--dl-layout-space-oneandhalfunits);
  }
  .testimonial71-text10 {
    text-align: center;
  }
  .testimonial71-avatar1 {
    flex-direction: column;
  }
  .testimonial71-avatar-content1 {
    align-items: center;
    margin-bottom: var(--dl-layout-space-oneandhalfunits);
  }
  .testimonial71-slider-slide2 {
    padding: var(--dl-layout-space-oneandhalfunits);
  }
  .testimonial71-text13 {
    text-align: center;
  }
  .testimonial71-avatar2 {
    flex-direction: column;
  }
  .testimonial71-avatar-content2 {
    align-items: center;
    margin-bottom: var(--dl-layout-space-oneandhalfunits);
  }
  .testimonial71-slider-slide3 {
    padding: var(--dl-layout-space-oneandhalfunits);
  }
  .testimonial71-text16 {
    text-align: center;
  }
  .testimonial71-avatar3 {
    flex-direction: column;
  }
  .testimonial71-avatar-content3 {
    align-items: center;
    margin-bottom: var(--dl-layout-space-oneandhalfunits);
  }
}

.home-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.home-header1 {
  width: 100%;
  display: flex;
  justify-content: center;
}
 
.home-navbar-interactive {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  flex-direction: row;
  justify-content: space-between;
}
 
.home-branding1 {
  width: 704px;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  border-color: #61616B;
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: flex-start;
  border-bottom-width: 1px;
}
 
.home-text100 {
  color: rgb(39, 39, 45);
  font-size: 30px;
  font-family: "Inter";
  font-weight: 700;
}
 
.home-desktop-menu {
  display: flex;
}
 
.home-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.home-right {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-twounits);
}
 
.home-button1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.home-work-with-us1 {
  cursor: pointer;
  transition: 0.3s;
  padding-top: var(--dl-layout-space-unit);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  border-radius: 70px;
  padding-right: var(--dl-layout-space-oneandhalfunits);
  padding-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
  background-color: #FAD611;
}
 
.home-work-with-us1:hover {
  opacity: 0.5;
}
 
.home-text101 {
  display: flex;
  font-size: 24px;
}
 
.home-image10 {
  width: 100px;
  display: none;
  object-fit: cover;
}
 
.home-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
 
.home-work-with-us2 {
  cursor: pointer;
  transition: 0.3s;
  padding-top: var(--dl-layout-space-unit);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  border-radius: 70px;
  padding-right: var(--dl-layout-space-oneandhalfunits);
  padding-bottom: var(--dl-layout-space-unit);
  background-color: rgb(229, 254, 88);
}
 
.home-work-with-us2:hover {
  opacity: 0.5;
}
 
.home-text102 {
  display: flex;
  font-size: 24px;
}
 
.home-image11 {
  width: 100px;
  display: none;
  object-fit: cover;
}
 
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
 
.home-nav2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.home-branding2 {
  flex: 1;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  border-color: #61616B;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom-width: 1px;
}
 
.home-text103 {
  color: #27272D;
  font-size: 30px;
  font-family: Inter;
}
 
.home-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.home-icon1 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.home-middle {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-links {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  position: relative;
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-twounits);
  flex-direction: column;
  justify-content: center;
}
 
.home-work-with-us3 {
  cursor: pointer;
  transition: 0.3s;
  padding-top: var(--dl-layout-space-unit);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  border-radius: 70px;
  padding-right: var(--dl-layout-space-oneandhalfunits);
  padding-bottom: var(--dl-layout-space-unit);
  background-color: rgb(229, 254, 88);
}
 
.home-work-with-us3:hover {
  opacity: 0.5;
}
 
.home-text104 {
  display: flex;
  font-size: 24px;
}
 
.home-fragment10 {
  display: contents;
}
 
.home-text105 {
  display: inline-block;
}
 
.home-fragment11 {
  display: contents;
}
 
.home-text106 {
  display: inline-block;
}
 
.home-fragment12 {
  display: contents;
}
 
.home-text107 {
  display: inline-block;
}
 
.home-fragment13 {
  display: contents;
}
 
.home-text108 {
  display: inline-block;
}
 
.home-fragment14 {
  display: contents;
}
 
.home-text109 {
  display: inline-block;
}
 
.home-fragment15 {
  display: contents;
}
 
.home-text110 {
  display: inline-block;
}
 
.home-fragment16 {
  display: contents;
}
 
.home-text111 {
  display: inline-block;
}
 
.home-fragment17 {
  display: contents;
}
 
.home-text112 {
  display: inline-block;
}
 
.home-fragment18 {
  display: contents;
}
 
.home-text113 {
  display: inline-block;
}
 
.home-fragment19 {
  display: contents;
}
 
.home-text114 {
  display: inline-block;
}
 
.home-fragment20 {
  display: contents;
}
 
.home-text115 {
  display: inline-block;
}
 
.home-fragment21 {
  display: contents;
}
 
.home-text116 {
  display: inline-block;
}
 
.home-link13 {
  text-decoration: underline;
}
 
.home-fragment22 {
  display: contents;
}
 
.home-text118 {
  display: inline-block;
}
 
.home-link14 {
  text-decoration: underline;
}
 
.home-container2 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: none;
  align-items: flex-start;
}
 
.home-fragment23 {
  display: contents;
}
 
.home-text120 {
  display: inline-block;
}
 
.home-text121 {
  font-family: "Merriweather";
}
 
.home-fragment24 {
  display: contents;
}
 
.home-text122 {
  display: inline-block;
  font-family: "Noto Sans";
}
 
.home-fragment25 {
  display: contents;
}
 
.home-text123 {
  display: inline-block;
  font-family: "Noto Sans";
}
 
.home-fragment26 {
  display: contents;
}
 
.home-text124 {
  display: inline-block;
}
 
.home-fragment27 {
  display: contents;
}
 
.home-text125 {
  display: inline-block;
}
 
.home-fragment28 {
  display: contents;
}
 
.home-text126 {
  display: inline-block;
  font-family: "Noto Sans";
}
 
.home-link15 {
  text-decoration: underline;
}
 
.home-fragment29 {
  display: contents;
}
 
.home-text130 {
  display: inline-block;
}
 
.home-link16 {
  text-decoration: underline;
}
 
.home-fragment30 {
  display: contents;
}
 
.home-text134 {
  display: inline-block;
}
 
.home-link17 {
  text-decoration: underline;
}
 
.home-fragment31 {
  display: contents;
}
 
.home-text139 {
  display: inline-block;
}
 
.home-link18 {
  text-decoration: underline;
}
 
.home-fragment32 {
  display: contents;
}
 
.home-text143 {
  display: inline-block;
}
 
.home-fragment33 {
  display: contents;
}
 
.home-text144 {
  display: inline-block;
}
 
.home-link19 {
  text-decoration: underline;
}
 
.home-fragment34 {
  display: contents;
}
 
.home-text148 {
  display: inline-block;
}
 
.home-fragment35 {
  display: contents;
}
 
.home-text149 {
  display: inline-block;
}
 
.home-link20 {
  text-decoration: underline;
}
 
.home-fragment36 {
  display: contents;
}
 
.home-text153 {
  display: inline-block;
}
 
.home-fragment37 {
  display: contents;
}
 
.home-text154 {
  display: inline-block;
}
 
.home-fragment38 {
  display: contents;
}
 
.home-text155 {
  display: inline-block;
}
 
.home-fragment39 {
  display: contents;
}
 
.home-text156 {
  display: inline-block;
}
 
.home-fragment40 {
  display: contents;
}
 
.home-text157 {
  display: inline-block;
}
 
.home-fragment41 {
  display: contents;
}
 
.home-text158 {
  display: inline-block;
}
 
.home-fragment42 {
  display: contents;
}
 
.home-text159 {
  display: inline-block;
}
 
.home-fragment43 {
  display: contents;
}
 
.home-text160 {
  display: inline-block;
}
 
.home-fragment44 {
  display: contents;
}
 
.home-text161 {
  display: inline-block;
}
 
.home-fragment45 {
  display: contents;
}
 
.home-text162 {
  display: inline-block;
}
 
.home-book {
  width: 100%;
  display: none;
  align-items: center;
  padding-top: var(--dl-layout-space-fiveunits);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-fiveunits);
  background-color: #F7E94A;
}
 
.home-content1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-left {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  max-width: 810px;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-text163 {
  font-size: 54px;
  font-weight: initial;
  line-height: 65px;
}
 
.home-button2 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  padding-top: var(--dl-layout-space-unit);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  border-radius: 70px;
  padding-right: var(--dl-layout-space-oneandhalfunits);
  padding-bottom: var(--dl-layout-space-unit);
  text-transform: lowercase;
  background-color: rgb(0, 0, 0);
}
 
.home-image12 {
  height: 400px;
  object-fit: cover;
}
 
.home-section1 {
  width: 100%;
  display: none;
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 120px;
  background-color: #244444;
}
 
.home-about-us {
  gap: var(--dl-layout-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
 
.home-recruit {
  gap: var(--dl-layout-space-fiveunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-threeunits);
  flex-direction: column;
}
 
.home-text165 {
  color: #ffffff;
  font-size: 54px;
  max-width: 1000px;
  font-style: normal;
  font-weight: 400;
  line-height: 65px;
}
 
.home-sections {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.home-section2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-text166 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  max-width: 1000px;
  line-height: 36px;
}
 
.home-text167 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  max-width: 1000px;
  line-height: 27px;
}
 
.home-section3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-text168 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  max-width: 1000px;
  line-height: 36px;
}
 
.home-text169 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  max-width: 1000px;
  line-height: 27px;
}
 
.home-section4 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-text170 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  max-width: 1000px;
  line-height: 36px;
}
 
.home-text171 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  max-width: 1000px;
  line-height: 27px;
}
 
.home-section5 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-text172 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  max-width: 1000px;
  line-height: 36px;
}
 
.home-text173 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  max-width: 1000px;
  line-height: 27px;
}
 
.home-button3 {
  color: rgb(39, 39, 45);
  font-size: 24px;
  line-height: 30px;
  padding-top: var(--dl-layout-space-unit);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  border-radius: 70px;
  padding-right: var(--dl-layout-space-oneandhalfunits);
  padding-bottom: var(--dl-layout-space-unit);
  text-transform: lowercase;
  background-color: rgb(229, 254, 88);
}
 
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-layout-space-fiveunits);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-fiveunits);
}
 
.home-header2 {
  width: 100%;
  display: none;
  align-items: center;
  padding-top: var(--dl-layout-space-threeunits);
  border-color: #61616B;
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
  border-bottom-width: 1px;
}
 
.home-branding3 {
  color: rgb(39, 39, 45);
  display: none;
  font-size: 30px;
}
 
.home-socials1 {
  gap: var(--dl-layout-space-twounits);
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.home-content2 {
  gap: var(--dl-layout-space-fiveunits);
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-fiveunits);
  border-color: #61616B;
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-fiveunits);
  justify-content: flex-start;
  border-top-width: 1px;
  border-bottom-width: 1px;
}
 
.home-contact {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-email {
  color: rgb(39, 39, 45);
  font-size: 30px;
}
 
.home-number {
  color: rgb(39, 39, 45);
  display: none;
  font-size: 30px;
}
 
.home-links-row {
  gap: 128px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
 
.home-links-column1 {
  display: none;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-link29 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
}
 
.home-link29:hover {
  opacity: 0.7;
}
 
.home-link30 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
}
 
.home-link30:hover {
  opacity: 0.7;
}
 
.home-link31 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
}
 
.home-link31:hover {
  opacity: 0.7;
}
 
.home-link32 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
}
 
.home-link32:hover {
  opacity: 0.7;
}
 
.home-links-column2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-link33 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  display: none;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
}
 
.home-link33:hover {
  opacity: 0.7;
}
 
.home-link34 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
  text-decoration: none;
}
 
.home-link34:hover {
  opacity: 0.7;
}
 
.home-link35 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
  text-decoration: none;
}
 
.home-link35:hover {
  opacity: 0.7;
}
 
.home-link36 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  display: none;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
}
 
.home-link36:hover {
  opacity: 0.7;
}
 
.home-link37 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  display: none;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
}
 
.home-link37:hover {
  opacity: 0.7;
}
 
.home-link38 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  display: none;
  font-size: 16px;
  transition: 0.3s;
  line-height: 32px;
}
 
.home-link38:hover {
  opacity: 0.7;
}
 
.home-locations {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: none;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-fiveunits);
  flex-direction: row;
}
 
.home-location1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  display: flex;
  max-width: 270px;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-title1 {
  color: rgb(39, 39, 45);
  font-size: 30px;
}
 
.home-details1 {
  color: rgb(39, 39, 45);
  font-size: 16px;
  line-height: 24px;
}
 
.home-location2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  display: flex;
  max-width: 270px;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-title2 {
  color: rgb(39, 39, 45);
  font-size: 30px;
}
 
.home-details2 {
  color: rgb(39, 39, 45);
  font-size: 16px;
  line-height: 24px;
}
 
.home-location3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  display: flex;
  max-width: 270px;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-title3 {
  color: rgb(39, 39, 45);
  font-size: 30px;
}
 
.home-details3 {
  color: rgb(39, 39, 45);
  font-size: 16px;
  line-height: 24px;
}
 
.home-location4 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  display: flex;
  max-width: 270px;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-title4 {
  color: rgb(39, 39, 45);
  font-size: 30px;
}
 
.home-details4 {
  color: rgb(39, 39, 45);
  font-size: 16px;
  line-height: 24px;
}
 
.home-socials2 {
  gap: var(--dl-layout-space-twounits);
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.home-link47 {
  display: contents;
}
 
.home-container3 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.home-icon3 {
  width: 24px;
  margin-right: 4px;
}
 
.home-text203 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
 
@media(max-width: 991px) {
  .home-navbar-interactive {
    gap: var(--dl-layout-space-fourunits);
    justify-content: center;
  }
  .home-text101 {
    line-height: 30px;
  }
  .home-text102 {
    line-height: 30px;
  }
  .home-text104 {
    line-height: 30px;
  }
  .home-book {
    padding-top: var(--dl-layout-space-threeunits);
    padding-bottom: var(--dl-layout-space-fourunits);
  }
  .home-content1 {
    gap: var(--dl-layout-space-oneandhalfunits);
    flex-direction: column-reverse;
    justify-content: center;
  }
  .home-left {
    gap: var(--dl-layout-space-oneandhalfunits);
    align-items: center;
  }
  .home-text163 {
    font-size: 32px;
    text-align: center;
    line-height: 38px;
  }
  .home-text164 {
    font-size: 16px;
  }
  .home-image12 {
    height: 220px;
  }
  .home-section1 {
    padding-top: var(--dl-layout-space-fourunits);
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-fourunits);
  }
  .home-about-us {
    gap: var(--dl-layout-space-threeunits);
  }
  .home-recruit {
    gap: var(--dl-layout-space-threeunits);
    padding-top: 0px;
  }
  .home-text165 {
    font-size: 32px;
    line-height: 38px;
  }
  .home-sections {
    gap: var(--dl-layout-space-oneandhalfunits);
    flex-direction: column;
  }
  .home-section2 {
    gap: var(--dl-layout-space-halfunit);
  }
  .home-text166 {
    font-size: 24px;
    line-height: 30px;
  }
  .home-text167 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-section3 {
    gap: var(--dl-layout-space-halfunit);
  }
  .home-text168 {
    font-size: 24px;
    line-height: 30px;
  }
  .home-text169 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-section4 {
    gap: var(--dl-layout-space-halfunit);
  }
  .home-text170 {
    font-size: 24px;
    line-height: 30px;
  }
  .home-text171 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-section5 {
    gap: var(--dl-layout-space-halfunit);
  }
  .home-text172 {
    font-size: 24px;
    line-height: 30px;
  }
  .home-text173 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text174 {
    font-size: 16px;
    line-height: 20px;
  }
  .home-footer {
    padding-top: var(--dl-layout-space-fourunits);
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-threeunits);
  }
  .home-header2 {
    padding-top: 0px;
    padding-bottom: var(--dl-layout-space-halfunit);
  }
  .home-branding3 {
    font-size: 18px;
  }
  .home-socials1 {
    display: none;
  }
  .home-content2 {
    gap: var(--dl-layout-space-threeunits);
    align-items: flex-start;
    padding-top: var(--dl-layout-space-threeunits);
    flex-direction: column;
    padding-bottom: var(--dl-layout-space-threeunits);
  }
  .home-email {
    font-size: 24px;
  }
  .home-number {
    font-size: 24px;
  }
  .home-links-row {
    gap: var(--dl-layout-space-oneandhalfunits);
    flex-direction: column;
  }
  .home-locations {
    padding-top: var(--dl-layout-space-threeunits);
    border-color: var(--dl-color-gray-black);
    flex-direction: column;
    padding-bottom: var(--dl-layout-space-threeunits);
    border-bottom-width: 1px;
  }
  .home-title1 {
    font-size: 24px;
  }
  .home-title2 {
    font-size: 24px;
  }
  .home-title3 {
    font-size: 24px;
  }
  .home-title4 {
    font-size: 24px;
  }
  .home-socials2 {
    width: 100%;
    display: flex;
    padding-top: var(--dl-layout-space-threeunits);
    flex-direction: column;
  }
  .home-row1 {
    gap: var(--dl-layout-space-fourunits);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-row2 {
    gap: var(--dl-layout-space-fourunits);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
 
@media(max-width: 767px) {
  .home-navbar-interactive {
    padding-top: var(--dl-layout-space-twounits);
    justify-content: space-between;
  }
  .home-desktop-menu {
    display: none;
  }
  .home-work-with-us1 {
    padding-left: var(--dl-layout-space-unit);
    padding-right: var(--dl-layout-space-unit);
  }
  .home-text101 {
    display: none;
  }
  .home-image10 {
    width: 16px;
    height: 14px;
    display: flex;
  }
  .home-burger-menu {
    display: flex;
    align-self: flex-start;
  }
  .home-work-with-us2 {
    padding-left: var(--dl-layout-space-unit);
    padding-right: var(--dl-layout-space-unit);
  }
  .home-text102 {
    display: none;
  }
  .home-image11 {
    width: 16px;
    height: 14px;
    display: flex;
  }
  .home-branding2 {
    max-width: 80%;
  }
  .home-work-with-us3 {
    padding-left: var(--dl-layout-space-unit);
    padding-right: var(--dl-layout-space-unit);
  }
}
 
@media(max-width: 479px) {
  .home-mobile-menu {
    padding: 16px;
  }
}
