.features7-layout226 {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
}
 
.features7-max-width {
  align-self: flex-start;
}
 
.features7-over-title1 {
  font-weight: 600;
}
 
.features7-title1 {
  text-align: center;
}
 
.features7-description1 {
  text-align: center;
}
 
.features7-over-title2 {
  font-weight: 600;
}
 
.features7-title2 {
  text-align: center;
}
 
.features7-description2 {
  text-align: center;
}
 
.features7-over-title3 {
  font-weight: 600;
}
 
.features7-title3 {
  text-align: center;
}
 
.features7-description3 {
  text-align: center;
}
 
.features7-fragment1 {
  display: contents;
}
 
.features7-text1 {
  display: inline-block;
}
 
.features7-fragment2 {
  display: contents;
}
 
.features7-text2 {
  display: inline-block;
}
 
.features7-fragment3 {
  display: contents;
}
 
.features7-text3 {
  display: inline-block;
}
 
.features7-fragment4 {
  display: contents;
}
 
.features7-text4 {
  display: inline-block;
}
 
.features7-fragment5 {
  display: contents;
}
 
.features7-text5 {
  display: inline-block;
}
 
.features7-fragment6 {
  display: contents;
}
 
.features7-text6 {
  display: inline-block;
}
 
.features7-fragment7 {
  display: contents;
}
 
.features7-text7 {
  display: inline-block;
}
 
.features7-fragment8 {
  display: contents;
}
 
.features7-text8 {
  display: inline-block;
}
 
.features7-fragment9 {
  display: contents;
}
 
.features7-text9 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .features7-content1 {
    align-items: center;
  }
  .features7-content2 {
    align-items: center;
  }
  .features7-content3 {
    align-items: center;
  }
}
