.hero71-max-width {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
 
.hero71-content {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  max-width: 1000px;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.hero71-text1 {
  text-align: center;
}
 
.hero71-text2 {
  text-align: center;
}
 
.hero71-actions {
  gap: var(--dl-layout-space-unit);
  display: none;
  align-items: flex-start;
}
 
.hero71-container1 {
  display: flex;
  align-items: flex-start;
}
 
.hero71-text3 {
  text-align: center;
}
 
.hero71-container2 {
  display: flex;
  align-items: flex-start;
}
 
.hero71-button2 {
  display: none;
}
 
.hero71-text4 {
  text-align: center;
}
 
.hero71-fragment1 {
  display: contents;
}
 
.hero71-text5 {
  display: inline-block;
}
 
.hero71-fragment2 {
  display: contents;
}
 
.hero71-text6 {
  display: inline-block;
}
 
.hero71-fragment3 {
  display: contents;
}
 
.hero71-text7 {
  display: inline-block;
}
 
.hero71-fragment4 {
  display: contents;
}
 
.hero71-text8 {
  display: inline-block;
}
 
.hero71root-class-name {
  background-color: #FAD611;
}
 
@media(max-width: 479px) {
  .hero71-actions {
    width: 100%;
    flex-direction: column;
  }
  .hero71-container1 {
    width: 100%;
  }
  .hero71-button1 {
    width: 100%;
  }
  .hero71-container2 {
    width: 100%;
  }
  .hero71-button2 {
    width: 100%;
  }
}
