.logos2-container1 {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.logos2-max-width {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.logos2-text1 {
  width: 45%;
  text-align: center;
}
 
.logos2-logo1 {
  object-fit: contain;
}
 
.logos2-logo2 {
  object-fit: contain;
}
 
.logos2-logo3 {
  object-fit: contain;
}
 
.logos2-logo4 {
  object-fit: contain;
}
 
.logos2-logo5 {
  object-fit: contain;
}
 
.logos2-fragment {
  display: contents;
}
 
.logos2-text2 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .logos2-text1 {
    width: 100%;
    text-align: center;
  }
}
 
@media(max-width: 767px) {
  .logos2-container1 {
    gap: var(--dl-layout-space-twounits);
  }
  .logos2-max-width {
    gap: var(--dl-layout-space-twounits);
  }
}
