.nav-links-links {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.nav-linksroot-class-name {
  display: none;
}
 
@media(max-width: 767px) {
  .nav-links-links {
    display: none;
  }
}
