.testimonial7-max-width {
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.testimonial7-slider {
  width: 100%;
  height: auto;
  display: inline-block;
}
 
.testimonial7-slider-slide1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.testimonial7-container2 {
  gap: var(--dl-layout-space-twounits);
  flex: 0 0 auto;
  display: flex;
  padding: var(--dl-layout-space-fiveunits);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.testimonial7-thumbnail1 {
  flex-grow: 1;
  max-width: 640px;
}
 
.testimonial7-content1 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 800px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.testimonial7-stars1 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.testimonial7-avatar1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
 
.testimonial7-avatar-content1 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.testimonial7-text11 {
  font-style: normal;
  font-weight: 600;
}
 
.testimonial7-logo1 {
  height: 2rem;
}
 
.testimonial7-slider-slide2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.testimonial7-container3 {
  gap: var(--dl-layout-space-twounits);
  flex: 0 0 auto;
  display: flex;
  padding: var(--dl-layout-space-fiveunits);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.testimonial7-thumbnail2 {
  width: auto;
  height: auto;
  flex-grow: 1;
  max-width: 640px;
  border-radius: var(--dl-layout-radius-radius4);
}
 
.testimonial7-content2 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 800px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.testimonial7-stars2 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.testimonial7-avatar2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
}
 
.testimonial7-avatar-content2 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.testimonial7-text14 {
  font-style: normal;
  font-weight: 600;
}
 
.testimonial7-logo2 {
  height: 2rem;
}
 
.testimonial7-slider-slide3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.testimonial7-container4 {
  gap: var(--dl-layout-space-twounits);
  flex: 0 0 auto;
  display: flex;
  padding: var(--dl-layout-space-fiveunits);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.testimonial7-thumbnail3 {
  width: auto;
  height: auto;
  flex-grow: 1;
  max-width: 640px;
  border-radius: var(--dl-layout-radius-radius4);
}
 
.testimonial7-content3 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 800px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.testimonial7-stars3 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.testimonial7-avatar3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
}
 
.testimonial7-avatar-content3 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.testimonial7-text17 {
  font-style: normal;
  font-weight: 600;
}
 
.testimonial7-logo3 {
  height: 2rem;
}
 
.testimonial7-slider-pagination {
  display: block;
}
 
.testimonial7-fragment1 {
  display: contents;
}
 
.testimonial7-text19 {
  display: inline-block;
}
 
.testimonial7-fragment2 {
  display: contents;
}
 
.testimonial7-text20 {
  display: inline-block;
}
 
.testimonial7-fragment3 {
  display: contents;
}
 
.testimonial7-text21 {
  display: inline-block;
}
 
.testimonial7-fragment4 {
  display: contents;
}
 
.testimonial7-text22 {
  display: inline-block;
}
 
.testimonial7-fragment5 {
  display: contents;
}
 
.testimonial7-text23 {
  display: inline-block;
}
 
.testimonial7-fragment6 {
  display: contents;
}
 
.testimonial7-text24 {
  display: inline-block;
}
 
.testimonial7-fragment7 {
  display: contents;
}
 
.testimonial7-text25 {
  display: inline-block;
}
 
.testimonial7-fragment8 {
  display: contents;
}
 
.testimonial7-text26 {
  display: inline-block;
}
 
.testimonial7-fragment9 {
  display: contents;
}
 
.testimonial7-text27 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .testimonial7-container2 {
    flex-direction: column;
  }
  .testimonial7-thumbnail1 {
    width: 100%;
  }
  .testimonial7-content1 {
    align-items: center;
    justify-content: center;
  }
  .testimonial7-avatar1 {
    gap: 0;
    width: 100%;
    justify-content: space-between;
  }
  .testimonial7-container3 {
    flex-direction: column;
  }
  .testimonial7-thumbnail2 {
    width: 100%;
  }
  .testimonial7-content2 {
    align-items: center;
    justify-content: center;
  }
  .testimonial7-avatar2 {
    gap: 0;
    width: 100%;
    justify-content: space-between;
  }
  .testimonial7-container4 {
    flex-direction: column;
  }
  .testimonial7-thumbnail3 {
    width: 100%;
  }
  .testimonial7-content3 {
    align-items: center;
    justify-content: center;
  }
  .testimonial7-avatar3 {
    gap: 0;
    width: 100%;
    justify-content: space-between;
  }
}
 
@media(max-width: 767px) {
  .testimonial7-slider-slide1 {
    padding: var(--dl-layout-space-threeunits);
  }
  .testimonial7-slider-slide2 {
    padding: var(--dl-layout-space-threeunits);
  }
  .testimonial7-slider-slide3 {
    padding: var(--dl-layout-space-threeunits);
  }
}
 
@media(max-width: 479px) {
  .testimonial7-slider-slide1 {
    padding: var(--dl-layout-space-oneandhalfunits);
  }
  .testimonial7-text10 {
    text-align: center;
  }
  .testimonial7-avatar1 {
    flex-direction: column;
  }
  .testimonial7-avatar-content1 {
    align-items: center;
    margin-bottom: var(--dl-layout-space-oneandhalfunits);
  }
  .testimonial7-slider-slide2 {
    padding: var(--dl-layout-space-oneandhalfunits);
  }
  .testimonial7-text13 {
    text-align: center;
  }
  .testimonial7-avatar2 {
    flex-direction: column;
  }
  .testimonial7-avatar-content2 {
    align-items: center;
    margin-bottom: var(--dl-layout-space-oneandhalfunits);
  }
  .testimonial7-slider-slide3 {
    padding: var(--dl-layout-space-oneandhalfunits);
  }
  .testimonial7-text16 {
    text-align: center;
  }
  .testimonial7-avatar3 {
    flex-direction: column;
  }
  .testimonial7-avatar-content3 {
    align-items: center;
    margin-bottom: var(--dl-layout-space-oneandhalfunits);
  }
}
