.testimonial8-max-width {
  gap: var(--dl-layout-space-fourunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.testimonial8-container1 {
  align-items: start;
}
 
.testimonial8-section-title {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
 
.testimonial8-container2 {
  gap: var(--dl-layout-space-twounits);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.testimonial8-content {
  grid-area: span 1/span 1/span 1/span 1;
}
 
.testimonial8-column1 {
  top: 10%;
  position: sticky;
  transform: rotate(-2deg);
  margin-bottom: var(--dl-layout-space-twounits);
  background-color: var(--dl-color-theme-accent1);
}
 
.testimonial8-stars1 {
  fill: var(--dl-color-theme-primary1);
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.testimonial8-text12 {
  height: auto;
}
 
.testimonial8-avatar1 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
}
 
.testimonial8-avatar-image1 {
  width: 56px;
  height: 56px;
  object-fit: cover;
}
 
.testimonial8-avatar-content1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.testimonial8-text13 {
  height: auto;
  font-style: normal;
  font-weight: 600;
}
 
.testimonial8-text14 {
  height: auto;
}
 
.testimonial8-column2 {
  top: 10%;
  position: sticky;
  transform: rotate(2deg);
  margin-bottom: var(--dl-layout-space-twounits);
  background-color: var(--dl-color-theme-accent2);
}
 
.testimonial8-stars2 {
  fill: var(--dl-color-theme-primary1);
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.testimonial8-text15 {
  height: auto;
}
 
.testimonial8-avatar2 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
}
 
.testimonial8-avatar-image2 {
  width: 56px;
  height: 56px;
  object-fit: cover;
}
 
.testimonial8-avatar-content2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.testimonial8-text16 {
  height: auto;
  font-style: normal;
  font-weight: 600;
}
 
.testimonial8-text17 {
  height: auto;
}
 
.testimonial8-column3 {
  top: 10%;
  position: sticky;
  transform: rotate(-2deg);
  margin-bottom: var(--dl-layout-space-twounits);
  background-color: var(--dl-color-theme-accent1);
}
 
.testimonial8-stars3 {
  fill: var(--dl-color-theme-primary1);
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.testimonial8-text18 {
  height: auto;
}
 
.testimonial8-avatar3 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
}
 
.testimonial8-avatar-image3 {
  width: 56px;
  height: 56px;
  object-fit: cover;
}
 
.testimonial8-avatar-content3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.testimonial8-text19 {
  height: auto;
  font-style: normal;
  font-weight: 600;
}
 
.testimonial8-text20 {
  height: auto;
}
 
.testimonial8-fragment10 {
  display: contents;
}
 
.testimonial8-text21 {
  display: inline-block;
}
 
.testimonial8-fragment11 {
  display: contents;
}
 
.testimonial8-text22 {
  display: inline-block;
}
 
.testimonial8-fragment12 {
  display: contents;
}
 
.testimonial8-text23 {
  display: inline-block;
}
 
.testimonial8-fragment13 {
  display: contents;
}
 
.testimonial8-text24 {
  display: inline-block;
}
 
.testimonial8-fragment14 {
  display: contents;
}
 
.testimonial8-text25 {
  display: inline-block;
}
 
.testimonial8-fragment15 {
  display: contents;
}
 
.testimonial8-text26 {
  display: inline-block;
}
 
.testimonial8-fragment16 {
  display: contents;
}
 
.testimonial8-text27 {
  display: inline-block;
}
 
.testimonial8-fragment17 {
  display: contents;
}
 
.testimonial8-text28 {
  display: inline-block;
}
 
.testimonial8-fragment18 {
  display: contents;
}
 
.testimonial8-text29 {
  display: inline-block;
}
 
.testimonial8-fragment19 {
  display: contents;
}
 
.testimonial8-text30 {
  display: inline-block;
}
 
.testimonial8-fragment20 {
  display: contents;
}
 
.testimonial8-text31 {
  display: inline-block;
}
 
.testimonial8-fragment21 {
  display: contents;
}
 
.testimonial8-text32 {
  display: inline-block;
}
 
.testimonial8-fragment22 {
  display: contents;
}
 
.testimonial8-text33 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .testimonial8-max-width {
    flex-direction: column;
  }
}
 
@media(max-width: 767px) {
  .testimonial8-section-title {
    width: 100%;
    max-width: 800px;
  }
  .testimonial8-column1 {
    width: 100%;
  }
  .testimonial8-column2 {
    width: 100%;
  }
  .testimonial8-column3 {
    width: 100%;
  }
}
