.testimonial14-max-width {
  gap: var(--dl-layout-space-fiveunits);
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.testimonial14-section-title {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.testimonial14-title {
  width: 100%;
  text-align: left;
}
 
.testimonial14-subtitle {
  text-align: center;
}
 
.testimonial14-container {
  gap: var(--dl-layout-space-twounits);
  width: auto;
}
 
.testimonial14-content1 {
  gap: var(--dl-layout-space-twounits);
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.testimonial14-stars1 {
  fill: var(--dl-color-theme-primary1);
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.testimonial14-avatar1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: center;
}
 
.testimonial14-avatar-image1 {
  width: 56px;
  height: 56px;
  object-fit: cover;
}
 
.testimonial14-avatar-content1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.testimonial14-text11 {
  font-style: normal;
  font-weight: 600;
}
 
.testimonial14-logo1 {
  height: 2rem;
}
 
.testimonial14-content2 {
  gap: var(--dl-layout-space-twounits);
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.testimonial14-stars2 {
  fill: var(--dl-color-theme-primary1);
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.testimonial14-avatar2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: center;
}
 
.testimonial14-avatar-image2 {
  width: 56px;
  height: 56px;
  object-fit: cover;
}
 
.testimonial14-avatar-content2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.testimonial14-text14 {
  font-style: normal;
  font-weight: 600;
}
 
.testimonial14-logo2 {
  height: 2rem;
}
 
.testimonial14-fragment1 {
  display: contents;
}
 
.testimonial14-text16 {
  display: inline-block;
}
 
.testimonial14-fragment2 {
  display: contents;
}
 
.testimonial14-text17 {
  display: inline-block;
}
 
.testimonial14-fragment3 {
  display: contents;
}
 
.testimonial14-text18 {
  display: inline-block;
}
 
.testimonial14-fragment4 {
  display: contents;
}
 
.testimonial14-text19 {
  display: inline-block;
}
 
.testimonial14-fragment5 {
  display: contents;
}
 
.testimonial14-text20 {
  display: inline-block;
}
 
.testimonial14-fragment6 {
  display: contents;
}
 
.testimonial14-text21 {
  display: inline-block;
}
 
.testimonial14-fragment7 {
  display: contents;
}
 
.testimonial14-text22 {
  display: inline-block;
}
 
.testimonial14-fragment8 {
  display: contents;
}
 
.testimonial14-text23 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .testimonial14-container {
    align-items: center;
  }
  .testimonial14-avatar1 {
    align-self: center;
    flex-direction: column;
  }
  .testimonial14-avatar2 {
    align-self: center;
    flex-direction: column;
  }
}
 
@media(max-width: 767px) {
  .testimonial14-section-title {
    width: 100%;
    max-width: 800px;
  }
  .testimonial14-title {
    text-align: center;
  }
  .testimonial14-container {
    flex-direction: column;
  }
}
 
@media(max-width: 479px) {
  .testimonial14-avatar1 {
    flex-direction: column;
  }
  .testimonial14-avatar-content1 {
    align-items: center;
    justify-content: center;
  }
  .testimonial14-avatar2 {
    flex-direction: column;
  }
  .testimonial14-avatar-content2 {
    align-items: center;
    justify-content: center;
  }
}
