.testimonial13-max-width {
  gap: var(--dl-layout-space-fiveunits);
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.testimonial13-section-title {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.testimonial13-title {
  width: 100%;
  text-align: center;
}
 
.testimonial13-subtitle {
  text-align: center;
}
 
.testimonial13-container {
  gap: var(--dl-layout-space-twounits);
  width: auto;
}
 
.testimonial13-content1 {
  gap: var(--dl-layout-space-twounits);
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.testimonial13-stars1 {
  fill: var(--dl-color-theme-primary1);
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.testimonial13-text10 {
  text-align: center;
}
 
.testimonial13-avatar1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.testimonial13-avatar-image1 {
  width: 56px;
  height: 56px;
  object-fit: cover;
}
 
.testimonial13-avatar-content1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.testimonial13-text11 {
  font-style: normal;
  font-weight: 600;
}
 
.testimonial13-logo1 {
  height: 2rem;
}
 
.testimonial13-content2 {
  gap: var(--dl-layout-space-twounits);
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.testimonial13-stars2 {
  fill: var(--dl-color-theme-primary1);
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.testimonial13-text13 {
  text-align: center;
}
 
.testimonial13-avatar2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.testimonial13-avatar-image2 {
  width: 56px;
  height: 56px;
  object-fit: cover;
}
 
.testimonial13-avatar-content2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.testimonial13-text14 {
  font-style: normal;
  font-weight: 600;
}
 
.testimonial13-logo2 {
  height: 2rem;
}
 
.testimonial13-fragment1 {
  display: contents;
}
 
.testimonial13-text16 {
  display: inline-block;
}
 
.testimonial13-fragment2 {
  display: contents;
}
 
.testimonial13-text17 {
  display: inline-block;
}
 
.testimonial13-fragment3 {
  display: contents;
}
 
.testimonial13-text18 {
  display: inline-block;
}
 
.testimonial13-fragment4 {
  display: contents;
}
 
.testimonial13-text19 {
  display: inline-block;
}
 
.testimonial13-fragment5 {
  display: contents;
}
 
.testimonial13-text20 {
  display: inline-block;
}
 
.testimonial13-fragment6 {
  display: contents;
}
 
.testimonial13-text21 {
  display: inline-block;
}
 
.testimonial13-fragment7 {
  display: contents;
}
 
.testimonial13-text22 {
  display: inline-block;
}
 
.testimonial13-fragment8 {
  display: contents;
}
 
.testimonial13-text23 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .testimonial13-container {
    align-items: center;
  }
}
 
@media(max-width: 767px) {
  .testimonial13-max-width {
    padding: var(--dl-layout-space-threeunits);
  }
  .testimonial13-section-title {
    width: 100%;
    max-width: 800px;
  }
  .testimonial13-container {
    flex-direction: column;
  }
}
 
@media(max-width: 479px) {
  .testimonial13-max-width {
    padding: var(--dl-layout-space-oneandhalfunits);
  }
  .testimonial13-avatar1 {
    flex-direction: column;
  }
  .testimonial13-avatar-content1 {
    align-items: center;
    justify-content: center;
  }
  .testimonial13-avatar2 {
    flex-direction: column;
  }
  .testimonial13-avatar-content2 {
    align-items: center;
    justify-content: center;
  }
}
