.testimonial71-max-width {
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.testimonial71-slider {
  width: 100%;
  height: auto;
  display: inline-block;
}
 
.testimonial71-slider-slide1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.testimonial71-container2 {
  gap: var(--dl-layout-space-twounits);
  flex: 0 0 auto;
  display: flex;
  padding: var(--dl-layout-space-fiveunits);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.testimonial71-thumbnail1 {
  flex-grow: 1;
  max-width: 640px;
}
 
.testimonial71-content1 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 800px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.testimonial71-stars1 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.testimonial71-avatar1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
 
.testimonial71-avatar-content1 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.testimonial71-text11 {
  font-style: normal;
  font-weight: 600;
}
 
.testimonial71-logo1 {
  height: 2rem;
}
 
.testimonial71-slider-slide2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.testimonial71-container3 {
  gap: var(--dl-layout-space-twounits);
  flex: 0 0 auto;
  display: flex;
  padding: var(--dl-layout-space-fiveunits);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.testimonial71-thumbnail2 {
  width: auto;
  height: auto;
  flex-grow: 1;
  max-width: 640px;
  border-radius: var(--dl-layout-radius-radius4);
}
 
.testimonial71-content2 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 800px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.testimonial71-stars2 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.testimonial71-avatar2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
}
 
.testimonial71-avatar-content2 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.testimonial71-text14 {
  font-style: normal;
  font-weight: 600;
}
 
.testimonial71-logo2 {
  height: 2rem;
}
 
.testimonial71-slider-slide3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.testimonial71-container4 {
  gap: var(--dl-layout-space-twounits);
  flex: 0 0 auto;
  display: flex;
  padding: var(--dl-layout-space-fiveunits);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.testimonial71-thumbnail3 {
  width: auto;
  height: auto;
  flex-grow: 1;
  max-width: 640px;
  border-radius: var(--dl-layout-radius-radius4);
}
 
.testimonial71-content3 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 800px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.testimonial71-stars3 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.testimonial71-avatar3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
}
 
.testimonial71-avatar-content3 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.testimonial71-text17 {
  font-style: normal;
  font-weight: 600;
}
 
.testimonial71-logo3 {
  height: 2rem;
}
 
.testimonial71-slider-pagination {
  display: block;
}
 
.testimonial71-fragment1 {
  display: contents;
}
 
.testimonial71-text19 {
  display: inline-block;
}
 
.testimonial71-fragment2 {
  display: contents;
}
 
.testimonial71-text20 {
  display: inline-block;
}
 
.testimonial71-fragment3 {
  display: contents;
}
 
.testimonial71-text21 {
  display: inline-block;
}
 
.testimonial71-fragment4 {
  display: contents;
}
 
.testimonial71-text22 {
  display: inline-block;
}
 
.testimonial71-fragment5 {
  display: contents;
}
 
.testimonial71-text23 {
  display: inline-block;
}
 
.testimonial71-fragment6 {
  display: contents;
}
 
.testimonial71-text24 {
  display: inline-block;
}
 
.testimonial71-fragment7 {
  display: contents;
}
 
.testimonial71-text25 {
  display: inline-block;
}
 
.testimonial71-fragment8 {
  display: contents;
}
 
.testimonial71-text26 {
  display: inline-block;
}
 
.testimonial71-fragment9 {
  display: contents;
}
 
.testimonial71-text27 {
  display: inline-block;
}
 
.testimonial71root-class-name {
  display: none;
}
 
@media(max-width: 991px) {
  .testimonial71-container2 {
    flex-direction: column;
  }
  .testimonial71-thumbnail1 {
    width: 100%;
  }
  .testimonial71-content1 {
    align-items: center;
    justify-content: center;
  }
  .testimonial71-avatar1 {
    gap: 0;
    width: 100%;
    justify-content: space-between;
  }
  .testimonial71-container3 {
    flex-direction: column;
  }
  .testimonial71-thumbnail2 {
    width: 100%;
  }
  .testimonial71-content2 {
    align-items: center;
    justify-content: center;
  }
  .testimonial71-avatar2 {
    gap: 0;
    width: 100%;
    justify-content: space-between;
  }
  .testimonial71-container4 {
    flex-direction: column;
  }
  .testimonial71-thumbnail3 {
    width: 100%;
  }
  .testimonial71-content3 {
    align-items: center;
    justify-content: center;
  }
  .testimonial71-avatar3 {
    gap: 0;
    width: 100%;
    justify-content: space-between;
  }
}
 
@media(max-width: 767px) {
  .testimonial71-slider-slide1 {
    padding: var(--dl-layout-space-threeunits);
  }
  .testimonial71-slider-slide2 {
    padding: var(--dl-layout-space-threeunits);
  }
  .testimonial71-slider-slide3 {
    padding: var(--dl-layout-space-threeunits);
  }
}
 
@media(max-width: 479px) {
  .testimonial71-slider-slide1 {
    padding: var(--dl-layout-space-oneandhalfunits);
  }
  .testimonial71-text10 {
    text-align: center;
  }
  .testimonial71-avatar1 {
    flex-direction: column;
  }
  .testimonial71-avatar-content1 {
    align-items: center;
    margin-bottom: var(--dl-layout-space-oneandhalfunits);
  }
  .testimonial71-slider-slide2 {
    padding: var(--dl-layout-space-oneandhalfunits);
  }
  .testimonial71-text13 {
    text-align: center;
  }
  .testimonial71-avatar2 {
    flex-direction: column;
  }
  .testimonial71-avatar-content2 {
    align-items: center;
    margin-bottom: var(--dl-layout-space-oneandhalfunits);
  }
  .testimonial71-slider-slide3 {
    padding: var(--dl-layout-space-oneandhalfunits);
  }
  .testimonial71-text16 {
    text-align: center;
  }
  .testimonial71-avatar3 {
    flex-direction: column;
  }
  .testimonial71-avatar-content3 {
    align-items: center;
    margin-bottom: var(--dl-layout-space-oneandhalfunits);
  }
}
