.testimonial112-max-width {
  gap: var(--dl-layout-space-fiveunits);
  display: flex;
  flex-direction: column;
}
 
.testimonial112-section-title {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.testimonial112-title {
  width: 100%;
  text-align: center;
}
 
.testimonial112-subtitle {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  text-align: center;
}
 
.testimonial112-container {
  gap: var(--dl-layout-space-twounits);
  width: auto;
}
 
.testimonial112-content1 {
  gap: var(--dl-layout-space-twounits);
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.testimonial112-logo1 {
  height: 2rem;
}
 
.testimonial112-text10 {
  text-align: center;
}
 
.testimonial112-avatar1 {
  gap: var(--dl-layout-space-unit);
  width: 300px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.testimonial112-avatar-image1 {
  width: 56px;
  height: 56px;
  object-fit: cover;
}
 
.testimonial112-avatar-content1 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.testimonial112-text11 {
  font-style: normal;
  font-weight: 600;
}
 
.testimonial112-content2 {
  gap: var(--dl-layout-space-twounits);
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.testimonial112-logo2 {
  height: 2rem;
}
 
.testimonial112-text13 {
  text-align: center;
}
 
.testimonial112-avatar2 {
  gap: var(--dl-layout-space-unit);
  width: 300px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.testimonial112-avatar-image2 {
  width: 56px;
  height: 56px;
  object-fit: cover;
}
 
.testimonial112-avatar-content2 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.testimonial112-text14 {
  font-style: normal;
  font-weight: 600;
}
 
.testimonial112-content3 {
  gap: var(--dl-layout-space-twounits);
  width: auto;
  display: flex;
}
 
.testimonial112-logo3 {
  height: 2rem;
}
 
.testimonial112-text16 {
  text-align: center;
}
 
.testimonial112-avatar3 {
  gap: var(--dl-layout-space-unit);
  width: 300px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.testimonial112-avatar-image3 {
  width: 56px;
  height: 56px;
  object-fit: cover;
}
 
.testimonial112-avatar-content3 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.testimonial112-text17 {
  font-style: normal;
  font-weight: 600;
}
 
.testimonial112-fragment10 {
  display: contents;
}
 
.testimonial112-text19 {
  display: inline-block;
}
 
.testimonial112-fragment11 {
  display: contents;
}
 
.testimonial112-text20 {
  display: inline-block;
}
 
.testimonial112-fragment12 {
  display: contents;
}
 
.testimonial112-text21 {
  display: inline-block;
}
 
.testimonial112-fragment13 {
  display: contents;
}
 
.testimonial112-text22 {
  display: inline-block;
}
 
.testimonial112-fragment14 {
  display: contents;
}
 
.testimonial112-text23 {
  display: inline-block;
}
 
.testimonial112-fragment15 {
  display: contents;
}
 
.testimonial112-text24 {
  display: inline-block;
}
 
.testimonial112-fragment16 {
  display: contents;
}
 
.testimonial112-text25 {
  display: inline-block;
}
 
.testimonial112-fragment17 {
  display: contents;
}
 
.testimonial112-text26 {
  display: inline-block;
}
 
.testimonial112-fragment18 {
  display: contents;
}
 
.testimonial112-text27 {
  display: inline-block;
}
 
.testimonial112-fragment19 {
  display: contents;
}
 
.testimonial112-text28 {
  display: inline-block;
}
 
.testimonial112-fragment20 {
  display: contents;
}
 
.testimonial112-text29 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .testimonial112-container {
    align-items: center;
  }
}
 
@media(max-width: 767px) {
  .testimonial112-max-width {
    padding: var(--dl-layout-space-threeunits);
  }
  .testimonial112-section-title {
    width: 100%;
    max-width: 800px;
  }
  .testimonial112-container {
    flex-direction: column;
  }
}
 
@media(max-width: 479px) {
  .testimonial112-max-width {
    padding: var(--dl-layout-space-oneandhalfunits);
  }
}
