.testimonial11-max-width {
  gap: var(--dl-layout-space-fiveunits);
  display: flex;
  flex-direction: column;
}
 
.testimonial11-section-title {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.testimonial11-title {
  width: 100%;
  text-align: center;
}
 
.testimonial11-subtitle {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  text-align: center;
}
 
.testimonial11-container {
  gap: var(--dl-layout-space-twounits);
  width: auto;
}
 
.testimonial11-content1 {
  gap: var(--dl-layout-space-twounits);
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.testimonial11-logo1 {
  height: 2rem;
}
 
.testimonial11-text10 {
  text-align: center;
}
 
.testimonial11-avatar1 {
  gap: var(--dl-layout-space-unit);
  width: 300px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.testimonial11-avatar-image1 {
  width: 56px;
  height: 56px;
  object-fit: cover;
}
 
.testimonial11-avatar-content1 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.testimonial11-text11 {
  font-style: normal;
  font-weight: 600;
}
 
.testimonial11-content2 {
  gap: var(--dl-layout-space-twounits);
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.testimonial11-logo2 {
  height: 2rem;
}
 
.testimonial11-text13 {
  text-align: center;
}
 
.testimonial11-avatar2 {
  gap: var(--dl-layout-space-unit);
  width: 300px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.testimonial11-avatar-image2 {
  width: 56px;
  height: 56px;
  object-fit: cover;
}
 
.testimonial11-avatar-content2 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.testimonial11-text14 {
  font-style: normal;
  font-weight: 600;
}
 
.testimonial11-content3 {
  gap: var(--dl-layout-space-twounits);
  width: auto;
  display: flex;
}
 
.testimonial11-logo3 {
  height: 2rem;
}
 
.testimonial11-text16 {
  text-align: center;
}
 
.testimonial11-avatar3 {
  gap: var(--dl-layout-space-unit);
  width: 300px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.testimonial11-avatar-image3 {
  width: 56px;
  height: 56px;
  object-fit: cover;
}
 
.testimonial11-avatar-content3 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.testimonial11-text17 {
  font-style: normal;
  font-weight: 600;
}
 
.testimonial11-fragment10 {
  display: contents;
}
 
.testimonial11-text19 {
  display: inline-block;
}
 
.testimonial11-fragment11 {
  display: contents;
}
 
.testimonial11-text20 {
  display: inline-block;
}
 
.testimonial11-fragment12 {
  display: contents;
}
 
.testimonial11-text21 {
  display: inline-block;
}
 
.testimonial11-fragment13 {
  display: contents;
}
 
.testimonial11-text22 {
  display: inline-block;
}
 
.testimonial11-fragment14 {
  display: contents;
}
 
.testimonial11-text23 {
  display: inline-block;
}
 
.testimonial11-fragment15 {
  display: contents;
}
 
.testimonial11-text24 {
  display: inline-block;
}
 
.testimonial11-fragment16 {
  display: contents;
}
 
.testimonial11-text25 {
  display: inline-block;
}
 
.testimonial11-fragment17 {
  display: contents;
}
 
.testimonial11-text26 {
  display: inline-block;
}
 
.testimonial11-fragment18 {
  display: contents;
}
 
.testimonial11-text27 {
  display: inline-block;
}
 
.testimonial11-fragment19 {
  display: contents;
}
 
.testimonial11-text28 {
  display: inline-block;
}
 
.testimonial11-fragment20 {
  display: contents;
}
 
.testimonial11-text29 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .testimonial11-container {
    align-items: center;
  }
}
 
@media(max-width: 767px) {
  .testimonial11-max-width {
    padding: var(--dl-layout-space-threeunits);
  }
  .testimonial11-section-title {
    width: 100%;
    max-width: 800px;
  }
  .testimonial11-container {
    flex-direction: column;
  }
}
 
@media(max-width: 479px) {
  .testimonial11-max-width {
    padding: var(--dl-layout-space-oneandhalfunits);
  }
}
