.testimonial16-max-width {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.testimonial16-container10 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  max-width: 600px;
  align-items: center;
  margin-bottom: var(--dl-layout-space-fourunits);
  flex-direction: column;
}
 
.testimonial16-text11 {
  text-align: center;
}
 
.testimonial16-container12 {
  flex: 1;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-accent1);
}
 
.testimonial16-container13 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.testimonial16-image1 {
  width: var(--dl-layout-size-small);
  height: var(--dl-layout-size-small);
  object-fit: cover;
  border-radius: var(--dl-layout-radius-round);
}
 
.testimonial16-container14 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.testimonial16-text14 {
  text-align: left;
}
 
.testimonial16-container15 {
  flex: 1;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-accent1);
}
 
.testimonial16-container16 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.testimonial16-image2 {
  width: var(--dl-layout-size-small);
  height: var(--dl-layout-size-small);
  object-fit: cover;
  border-radius: var(--dl-layout-radius-round);
}
 
.testimonial16-container17 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.testimonial16-text17 {
  text-align: left;
}
 
.testimonial16-container18 {
  flex: 1;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-accent1);
}
 
.testimonial16-container19 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.testimonial16-image3 {
  width: var(--dl-layout-size-small);
  height: var(--dl-layout-size-small);
  object-fit: cover;
  border-radius: var(--dl-layout-radius-round);
}
 
.testimonial16-container20 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.testimonial16-text20 {
  text-align: left;
}
 
.testimonial16-container21 {
  flex: 1;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-accent1);
}
 
.testimonial16-container22 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.testimonial16-image4 {
  width: var(--dl-layout-size-small);
  height: var(--dl-layout-size-small);
  object-fit: cover;
  border-radius: var(--dl-layout-radius-round);
}
 
.testimonial16-container23 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.testimonial16-text23 {
  text-align: left;
}
 
.testimonial16-fragment10 {
  display: contents;
}
 
.testimonial16-text24 {
  display: inline-block;
}
 
.testimonial16-fragment11 {
  display: contents;
}
 
.testimonial16-text25 {
  display: inline-block;
}
 
.testimonial16-fragment12 {
  display: contents;
}
 
.testimonial16-text26 {
  display: inline-block;
}
 
.testimonial16-fragment13 {
  display: contents;
}
 
.testimonial16-text27 {
  display: inline-block;
}
 
.testimonial16-fragment14 {
  display: contents;
}
 
.testimonial16-text28 {
  display: inline-block;
}
 
.testimonial16-fragment15 {
  display: contents;
}
 
.testimonial16-text29 {
  display: inline-block;
}
 
.testimonial16-fragment16 {
  display: contents;
}
 
.testimonial16-text30 {
  display: inline-block;
}
 
.testimonial16-fragment17 {
  display: contents;
}
 
.testimonial16-text31 {
  display: inline-block;
}
 
.testimonial16-fragment18 {
  display: contents;
}
 
.testimonial16-text32 {
  display: inline-block;
}
 
.testimonial16-fragment19 {
  display: contents;
}
 
.testimonial16-text33 {
  display: inline-block;
}
 
.testimonial16-fragment20 {
  display: contents;
}
 
.testimonial16-text34 {
  display: inline-block;
}
 
.testimonial16-fragment21 {
  display: contents;
}
 
.testimonial16-text35 {
  display: inline-block;
}
 
.testimonial16-fragment22 {
  display: contents;
}
 
.testimonial16-text36 {
  display: inline-block;
}
 
.testimonial16-fragment23 {
  display: contents;
}
 
.testimonial16-text37 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .testimonial16-container10 {
    margin-bottom: var(--dl-layout-space-threeunits);
  }
}
 
@media(max-width: 767px) {
  .testimonial16-container10 {
    margin-bottom: var(--dl-layout-space-oneandhalfunits);
  }
  .testimonial16-container12 {
    width: 100%;
  }
  .testimonial16-container15 {
    width: 100%;
  }
  .testimonial16-container18 {
    width: 100%;
  }
  .testimonial16-container21 {
    width: 100%;
  }
}
