.testimonial5-max-width {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.testimonial5-slider {
  width: 100%;
  height: auto;
  display: inline-block;
  position: relative;
}
 
.testimonial5-slider-slide1 {
  display: flex;
  padding: var(--dl-layout-space-fiveunits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.testimonial5-container2 {
  gap: var(--dl-layout-space-twounits);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.testimonial5-stars1 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.testimonial5-avatar1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: center;
}
 
.testimonial5-avatar-image1 {
  width: 56px;
  height: 56px;
}
 
.testimonial5-avatar-content1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.testimonial5-text11 {
  font-style: normal;
  font-weight: 600;
}
 
.testimonial5-logo1 {
  height: 2rem;
}
 
.testimonial5-slider-slide2 {
  display: flex;
  padding: var(--dl-layout-space-fiveunits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.testimonial5-container3 {
  gap: var(--dl-layout-space-twounits);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.testimonial5-stars2 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.testimonial5-avatar2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: center;
}
 
.testimonial5-avatar-image2 {
  width: 56px;
  height: 56px;
}
 
.testimonial5-avatar-content2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.testimonial5-text14 {
  font-style: normal;
  font-weight: 600;
}
 
.testimonial5-logo2 {
  height: 2rem;
}
 
.testimonial5-slider-slide3 {
  display: flex;
  padding: var(--dl-layout-space-fiveunits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.testimonial5-container4 {
  gap: var(--dl-layout-space-twounits);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.testimonial5-stars3 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.testimonial5-avatar3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: center;
}
 
.testimonial5-avatar-image3 {
  width: 56px;
  height: 56px;
}
 
.testimonial5-avatar-content3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.testimonial5-text17 {
  font-style: normal;
  font-weight: 600;
}
 
.testimonial5-logo3 {
  height: 2rem;
}
 
.testimonial5-slider-pagination {
  width: 100%;
  display: block;
}
 
.testimonial5-slider-button-prev {
  display: block;
}
 
.testimonial5-slider-button-next {
  display: block;
}
 
.testimonial5-fragment1 {
  display: contents;
}
 
.testimonial5-text19 {
  display: inline-block;
}
 
.testimonial5-fragment2 {
  display: contents;
}
 
.testimonial5-text20 {
  display: inline-block;
}
 
.testimonial5-fragment3 {
  display: contents;
}
 
.testimonial5-text21 {
  display: inline-block;
}
 
.testimonial5-fragment4 {
  display: contents;
}
 
.testimonial5-text22 {
  display: inline-block;
}
 
.testimonial5-fragment5 {
  display: contents;
}
 
.testimonial5-text23 {
  display: inline-block;
}
 
.testimonial5-fragment6 {
  display: contents;
}
 
.testimonial5-text24 {
  display: inline-block;
}
 
.testimonial5-fragment7 {
  display: contents;
}
 
.testimonial5-text25 {
  display: inline-block;
}
 
.testimonial5-fragment8 {
  display: contents;
}
 
.testimonial5-text26 {
  display: inline-block;
}
 
.testimonial5-fragment9 {
  display: contents;
}
 
.testimonial5-text27 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .testimonial5-slider-slide1 {
    padding: var(--dl-layout-space-threeunits);
  }
  .testimonial5-avatar1 {
    flex-direction: column;
  }
  .testimonial5-slider-slide2 {
    padding: var(--dl-layout-space-threeunits);
  }
  .testimonial5-avatar2 {
    flex-direction: column;
  }
  .testimonial5-slider-slide3 {
    padding: var(--dl-layout-space-threeunits);
  }
  .testimonial5-avatar3 {
    flex-direction: column;
  }
}
 
@media(max-width: 479px) {
  .testimonial5-slider-slide1 {
    padding: var(--dl-layout-space-oneandhalfunits);
  }
  .testimonial5-avatar-content1 {
    align-items: center;
    justify-content: center;
  }
  .testimonial5-slider-slide2 {
    padding: var(--dl-layout-space-oneandhalfunits);
  }
  .testimonial5-avatar-content2 {
    align-items: center;
    justify-content: center;
  }
  .testimonial5-slider-slide3 {
    padding: var(--dl-layout-space-oneandhalfunits);
  }
  .testimonial5-avatar-content3 {
    align-items: center;
    justify-content: center;
  }
}
